
# Rename this file to "config.yml" and fill it


# MySQL database config
database:
  database: telegram
  user: root
  password: p@ssw0rd
  host: localhost
  port: 3306

# Telegram client config
# Avaliable on https://my.telegram.org
telegram:
  api-id: 1234567
  api-hash: 1q2w3e4r5t6y7u8i9o0p1q2w3e4r5t6y

