<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Api v1</title>
</head>
<body>
    <p>*API docs*</p>
    <ul>
        <li>
            <h2>/users</h2>
            <h4>Get all registered users</h4>
        </li>
        <li>
            <h2>/user/:id</h2>
            <h4>Get user info by id</h4>
        </li>
    </ul>
</body>
</html>